# Whitelisting directories - start by ignoring all
*

# Except these two
!.gitignore
!README.md

# And these directories
!defs/
!defs/**

!gfx/
!gfx/**

!materials/
!materials/**

!models/
!models/**

!char/
!char/**

!anims/
!anims/**

!rando/
!rando/**

!scripts/
!scripts/**

!textures/
!textures/**

!particles/
!particles/**

!layeredImages/
!layeredImages/**